*{
   margin: 0;
   padding: 0; 
}

.cabeçalho {
    background-color: #804674;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 10%;
    height: 10%;
}

.cabeçalho-item {
    display: inline-block;
    font-size: 21px;
    padding: 0 0 0 20px; 
}

.escola {
    background-image: linear-gradient(#804674, #D277C0);
    color: white;
    font-size: 21px;
    padding: 300px 250px;
}

.escola-titulo {
    padding: 24px 0;
}


